@layout('main')
@section('content')
    <a href="{{ route('posts.index') }}">Go Back</a>
    <hr>
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
    <hr>
    <a href="{{ route('posts.edit', { id: post.id }) }}" class="btn btn-dark d-block float-left">
        Edit
    </a>
    <form action="{{ '/posts/' + post.id + '?_method=DELETE' }}" method="POST">
        {{ csrfField() }}
        <button class="btn btn-danger d-block float-right">Delete</button>
    </form>
@endsection